a{
  text-decoration:none;
  color: black;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: goldenrod;
}

.navlink-container{
 display: flex;
}

#title{
  font-size: 40px;
  margin: 25px;
}

.navlink{
 
  font-size: 40px;
  margin: 30px;
}

.food-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 60px 0 0 30px;
    row-gap: 50px;
    column-gap: 40px;
}

.food-item{
  border: 2px solid black;
  padding: 30px;
  box-shadow: 19px 3px 6px 1px #808080;
}

.food-item-body{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-conatiner{
  background-color: darkorange;
    width: 90px;
    height: 40px;
}


.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.label{
display: block;
font-size: larger;
color: white;
padding: 5px;
}

.input{
font-size: larger;
padding: 5px;
margin: 2px;

}
.btn{
color: white;
background-color: red;
border-radius: 5px;
font-size: larger;
display: block;
padding: 5px;
margin: 10px auto;
}

.messages{
display: flex;
justify-content: center;
}

.error{
display: block;
background-color: red;
color: white;
width: fit-content;
height: 50px;
padding: 5px;
}

.success{
display: block;
background-color: lightblue;
color: black;
width: fit-content;
height: 50px;
padding: 5px;
}
